<article class="post-card post tag-getting-started">
    {{#if feature_image}}
        <a class="post-card-image-link" href="{{url}}">
            <div class="post-card-image" style="background-image: url(https://qiniu.wangshengtao.com/itina/instagram/{{feature_image}}.jpg!ins640)"></div>
        </a>
    {{/if}}
</article>
